* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rozha One', serif;
    font-size: 16px;
}


/* Header Styles */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: /*deepskyblue*/
    #96858F;
}

.logo {
    margin: 0 0 0 .45em;
}

.logo a {
    color: deepskyblue;
    /*rgb(28, 24, 22);*/
}

.logo,
.navigation {
    list-style: none;
    text-transform: uppercase;
}

.logo a,
.navigation a {
    text-decoration: none;
    letter-spacing: .45rem;
}

.navigation {
    display: flex;
}

.navigation a {
    display: block;
    padding: 1em;
    color: white;
    font-size: 24px;
    font-family: 'Just Another Hand', cursive;
    font-weight: bold;
}

.navigation a:hover {
    background: deepskyblue;
}


/* Main (Home page) Styles */

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: /*#6D7993*/
    #FFFDD0;
}

.hi {
    font-size: 70px;
}

.ui-freelance {
    background-color: deepskyblue;
    border-radius: 5px;
    font-size: 40px;
}

.intro-image {
    background-color: transparent;
}

.about {
    font-family: 'Sahitya', serif;
}


/* *********** media queries *********** */

@media all and (max-width: 990px) {
    .header-container {
        flex-direction: column;
    }
    .logo {
        margin: 0;
    }
    .navigation {
        width: 100%;
        justify-content: space-around;
    }
}


/* ****** ****** */

@media all and (max-width: 600px) {
    .logo {
        margin: .25em 0;
        align-self: left;
        /* align the logo to the left side of 'flex-container' */
    }
    .navigation,
    .main-container {
        flex-direction: column;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}